H1 {
    color: blue;
    text-align: center;
    font: italic 1.2em "Fira Sans", serif;
    font-size: 40px;
}
table {
	margin:20px;
	padding: 20px;
	;
}
.row>div{
	border: 2px solid blue;
	text-align: center;
	border-collapse: collapse;
}	
th {
	border: none;
	border-collapse: collapse;
}
#info{
	border-radius: 8px;
	background: #DEE5E8;
	font-size:20px;
	padding: 20px;
	vertical-align: top;
}
body {
	background-size: cover;
	background-image: url(bg.jpg);
}
img {
	border: 15px solid white;
	width: 300px;
  	height: 200px;
}
@media only screen and (max-width: 600px) {
  table {
    margin: 5px;
    padding: 5px;
  }
}
#bottom {
	background: #DEE5E8;
	bottom:0px;
   width:100%;
   margin-top: 100px;

}